# Xcode
**/*.pbxuser
**/*.mode1v3
**/*.mode2v3
**/*.perspectivev3
!default.perspectivev3
**/*.xcuserstate
*.xcworkspace
!default.xcworkspace
**/*.moved-aside
DerivedData
.idea/
*.hmap
*.ipa
*.app
*.xcuserdata
xcuserdata
*.xcworkspace
xcshareddata
!xcshareddata/WorkspaceSettings.xcsettings
*.xccheckout
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata
!*.xcodeproj/xcshareddata/xcschemes
*.xcmappingmodel
*.xcuserstate
*.xcscheme
