<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966231830720-bbi1q7khvc2f6rpvtg1e2qdmvho1dcvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966231830720-bbi1q7khvc2f6rpvtg1e2qdmvho1dcvo</string>
	<key>API_KEY</key>
	<string>AIzaSyCKUFbxtpQxKKd-JvLl72zpP9v_ik7v-Kc</string>
	<key>GCM_SENDER_ID</key>
	<string>966231830720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.edu.uts.student.Decaffeine</string>
	<key>PROJECT_ID</key>
	<string>decaf-fff24</string>
	<key>STORAGE_BUCKET</key>
	<string>decaf-fff24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966231830720:ios:0d9a917ae8e4d0c8e03d25</string>
</dict>
</plist>